/*.bg-custom-color-gray {
  background-color: #ebedf0;
}

.sign-button {
  background-color: white;
  border: #8064a2;
  border: 1px solid #8064a2;
  color: #8064a2;
}

.sign-button:hover {
  background-color: #8064a2;
  border: #8064a2;
  border: 1px solid #8064a2;
}*/
